[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
server = {path = "."}

[packages]
gspread = "*"
oauth2client = "*"
flask = "*"
flask-marshmallow = "*"
flask-sqlalchemy = "*"
pylint = "*"
flask-cors = "*"
marshmallow-sqlalchemy = "*"

[requires]
python_version = "3.7"
